@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headingOne {
        @apply text-5xl font-normal leading-tight lg:leading-tight lg:text-6xl 2xl:text-7xl ;
    }
    .headingOne.font-light {
        @apply font-sailec-light;
    }
    .headingTwo {
        @apply text-4xl font-normal  lg:text-5xl lg:leading-tight xl:leading-tight xl:text-6xl;
    }
    .headingThree {
        @apply text-4xl font-normal  leading-tight lg:text-5xl;
    }
    .headingFour {
        @apply text-xl font-normal  leading-none lg:text-2xl;
    }
    .headingFive {
        @apply text-xl font-normal leading-normal lg:text-2xl;
    }
    .bodyText {
        @apply text-base font-normal leading-normal mb-8 lg:mb-12 lg:text-lg;
    }
    .subtitleOne {
        @apply text-sm font-normal  leading-normal lg:text-xl;
    }
    .subtitleTwo {
        @apply text-sm font-normal leading-normal lg:text-xl;
    }
    .headingThree.light{
        @apply font-light font-sailec-light leading-snug;
    }
    
    .editor-content p {
        @apply bodyText text-[#8A8799];
    }

    section {
        @apply py-14 lg:py-24;
    }
    .container2 {
        @apply w-auto mx-12 md:mx-auto md:w-10/12 max-w-[1200px];;
    }
    .container3 {
        @apply w-full max-w-[1440px] m-auto;
    }
    .row {
        @apply grid grid-cols-12 lg:gap-5;
    }
    .column {
        @apply col-span-12 mb-0; 
    }

    .student-card {
        @apply rounded-xl h-80 relative shadow-md;
    }
    .student-card > *{
        @apply text-white;
    }
    .student-card > div {
        @apply absolute inset-0 rounded-xl flex flex-col items-center justify-center;
    }
    .student-card > .cover {
        @apply opacity-100 hover:opacity-0 bg-cover bg-center bg-blend-multiply ease-in-out duration-500;
    }
    .student-card > .reveal {
        @apply opacity-0 hover:opacity-100 bg-blue ease-in-out duration-500;
    }
        
    .price-card {
        @apply rounded-3xl border-2 border-solid border-blue text-blue bg-white text-center flex flex-col items-center justify-between py-12 px-10 cursor-pointer scale-100 hover:scale-105 ease-in-out duration-200 active:scale-95 col-span-10 md:col-span-6;
    }
    .ctaButton {
        @apply  rounded-3xl text-base font-normal uppercase py-4 px-6 leading-[0] inline-flex items-baseline justify-center gap-x-5 ;
    }
}

@font-face {
	font-family: 'Sailec-Regular';
	src: url("../fonts/Sailec-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Sailec-Bold';
	src: url("../fonts/Sailec-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Sailec-Light';
	src: url("../fonts/Sailec-Light.woff") format("woff");
}
html {
    font-size: 16px !important;
    font-family: 'Sailec-Regular';
}

#student-hero #cursor {
    color: #fff !important;
    border-right: 0.1em solid;
    animation: caret 1s steps(1) infinite !important;
    margin-left: 0.2em;
}
@keyframes caret {
    50% {
      border-color: transparent;
    }
  }



  .splide__pagination  {
    display: flex !important;
    justify-content: flex-start !important;
    padding-left: 0 !important;
    bottom: -3em !important;
  }
  .splide__pagination__page {
    background: none !important;
    border: 2px solid #fff !important;
    width: 15px !important;
    height: 15px !important;
    margin: 5px !important;
  }
  .splide__pagination__page.is-active {
    background: #fff !important;
    transform: scale(1) !important;  
  }

#whats-on-section {
  background-image: url('../img/bg-whats-on2.png');
}

@media only screen and (max-width: 580px) {
    #whats-on-section {
       background-image: url('../img/whats-on-mobile-bg.png');
    }   
}